/* Sub-header */
header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sub-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  max-height: 97px;
  margin: auto;
  font-weight: 600;
  font-size: 1.7rem;
  background-color: var(--third-color);
}

.sub-header img {
  max-height: 97px;
  object-fit: cover;
}

.fa-angle-down {
  padding-left: 1rem;
  color: var(--primary-color);
}

/* .fa-solid .fa-magnifying-glass,
.fa-solid .fa-cart-shopping {
  color: var(--text-color);
} */
/* Menu */
.menu {
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_item {
  margin: 0 1rem;
  list-style: none;
  position: relative;
}
.menu_item:hover .menu_child {
  opacity: 1;
  visibility: visible;
}
.menu_item::before {
  position: absolute;
  content: "";
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 3px;
  background-color: var(--primary-color);
  transition: all ease-in-out 0.2s;
}
.menu_item:hover::before {
  width: 80%;
}
.menu_link {
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem;
  font-size: 1.7rem;
  position: relative;
  display: inline-block;
  transition: 0.2s linear;
}
.menu_link:hover {
  color: var(--hover);
}
.menu_link i {
  margin-left: 0.2rem;
}
.active-button {
  color: var(--hover) !important;
  font-size: 1.7rem;
}
.menu_child {
  position: absolute;
  top: 105%;
  background-color: rgba(0, 0, 0, 0.6);
  width: 216px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear;
  border-radius: 5px;
}

.menu_child_list {
  list-style: none;
  padding: 3rem;
}
.menu_child_list li {
  margin-bottom: 1rem;
}
.menu_child_list li a {
  text-decoration: none;
  color: var(--third-color);
  font-size: 1.5rem;
  transition: all linear 0.2s;
}
.menu_child_list li a:hover {
  color: #559BE7;
}
.menu_icon {
  list-style: none;
}
.menu_icon:hover a i {
  color: var(--primary-color);
}
.icon {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.icon .search-txt {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-45%);
  width: 0;
  background-color: rgba(0,0,0,0.6);
  border-radius: 1rem;
  z-index: 10;
  transition: 0.5s;
}

.search-txt input {
  width: 100%;
  padding: 1rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--third-color);
  font-size: 1.5rem;
}

.search-txt input::placeholder {
  color: var(--third-color);
}

.search-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.search-btn:hover .search-txt {
  width: 25rem;
}

.icon-list {
  display: flex;
  align-items: center;
}
.header-cart i {
  color: var(--text-color);
  font-size: 1.7rem;
}
.search-btn i {
  font-size: 1.7rem;
}
.icon-user i {
  font-size: 1.7rem;
}

.menu-user {
  z-index: 10;
  display: none;
  position: absolute;
  top: 10%;
  right: 9%;
  width: 200px;
  list-style: none;
  text-align: center;
  background-color: #7c7c79;
  border-radius: 1rem;
}
.icon-user:hover .menu-user {
  display: block;
}
.icon-user::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 30px;
  top: 10%;
  right: 9%;
}
.menu-user li a {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 0;
  transition: all ease-in-out 0.2s;
}

.menu-user li a:hover {
  color: var(--secondary-color);
}


/* Menu_sub_child */
.menu_parent {
  position: relative;
}

.sub__menu-child-link {
  display: block;
}
.sub__menu-child {
  padding: 10px;
  position: absolute;
  width: 230px;
  top: -3px;
  right: -260px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear;
  background-color: rgba(0, 0, 0, 0.6);
}

.sub__menu-child-item {
  margin-bottom: 5px;
  padding: 5px 20px;
}

.menu_parent:hover .sub__menu-child {
  opacity: 1;
  visibility: visible;
}
.fa-cart-shopping{
  position: relative;
}
.numProCart{
  text-align: center;
  height: 15px;
  border-radius: 50%;
  color: white;
  width: 16px;
  background: red;
  position: absolute;
  top: -70%;
  right: -60%;
  font-size: small;
  padding: 1px;
}
